.Order {
    justify-content: space-around;
    align-items: center;
}

.PizzaImage {
    max-width: 100%;
}

.PizzaName {
    font-size: 2rem;
}

.OrderForm {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}
