.OrderButton {
    background: #2857c1de;
    color: #fff;
    font-weight: bold;
    border-style: solid;
    border-width: 0 0 0 20px;
    border-color: #fb85bc;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
    transition: 0.5s ease all;
}

.OrderButton:hover {
    background: #3118ecde;
    border-width: 0 0 0 20px;
    border-color: #e64b93;
    transition: 0.5s ease all;
}
