.PizzasRow {
    justify-content: space-around;
}

.PizzasItem {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.PizzasItem h3 {
    font-size: 1.4rem;
    margin-top: 20px;
}

.PizzasItemLink {
    flex-grow: 1;
}

.PizzasItemImage {
    max-width: 100%;
    opacity: 0.75;
    transition: 0.5s ease all;
}

.PizzasItem:hover .PizzasItemImage {
    opacity: 1;
    transition: 0.5s ease all;
}

.PizzasItemData {
    padding: 20px;
    display: flex;
    align-items: center;
}

.PizzasItemData a:hover {
    text-decoration: none;
}
