.App {
  text-align: center;
  font-family: Georgia;
}

.App a {
  color: #2857c1de;
}

.App a:hover {
  color: #3118ecde;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 768px) {
  .App {
    border-style: solid;
    border-width: 50px 80px;
    border-color: transparent #3118ecde;
  }
}

.Errors {
  background: #e32525;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
}

img {
  max-width: 100%;
}
