.Navbar {
    width: 100%;
    background: #e64b93;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-family: Arial Black;
    font-weight: bolder;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .Navbar {
        text-align: left;
        padding: 10px 20px 10px 80px;
        min-height: 50px;
        line-height: 50px;
    }
    .MenuItem {
        float: right;
        margin-right: 10px;
    }
}

.Navbar a, .Navbar a:hover {
    color: #fff;
    text-decoration: none;
}

.Menu {
    font-size: 1rem;
}