.LoginRow {
    align-items: center;
    justify-content: space-around;
}

.LoginRow p {
    font-weight: bold;
    margin-top: 20px;
}

.LoggedIn {
    background: #3118ecde;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
}

.SmallText {
    font-size: 0.8rem;
    font-weight: bold;
}
